<template>
  <div class="olingo-demo">
    <dx-data-grid
      class="dx-card content-block"
      :data-source="dataSource"
      :remote-operations="true"
      :show-borders="false"
      :focused-row-enabled="false"
      :column-auto-width="false"
      :column-hiding-enabled="false"
      :hover-state-enabled="true"
      key-expr="Id"
      ref="dataGrid"
    >
      <dx-paging :enabled="true" :page-size="10" />
      <dx-filter-row :visible="true" />
      <dx-header-filter :visible="true" />
      <dx-filter-panel :visible="true" />
      <dx-editing
        :allow-updating="true"
        :allow-deleting="true"
        :allow-adding="true"
        mode="popup"
      />

      <dx-column
        data-field="Id"
        caption="ID"
        :width="100"
        :allow-header-filtering="false"
      >
        <dx-form-item :visible="false" />
      </dx-column>

      <dx-column caption="Name" data-field="Name" :width="300" />
    </dx-data-grid>
  </div>
</template>

<script>
import DxDataGrid, {
  DxColumn,
  DxFilterRow,
  DxHeaderFilter,
  DxPaging,
  DxFilterPanel,
  DxFormItem,
  DxEditing,
} from "devextreme-vue/data-grid";
import ODataStore from "devextreme/data/odata/store";
import DataSource from "devextreme/data/data_source";

const createDataSource = () => {
  return new DataSource({
    store: new ODataStore({
      url: "/app/odata/CarMakers",
      key: "Id",
      keyType: "Int32",
      version: 2,
    }),
  });
};

export default {
  name: "olingo-demo",
  data() {
    return {
      dataSource: createDataSource(),
    };
  },
  components: {
    DxDataGrid,
    DxColumn,
    DxFilterRow,
    DxHeaderFilter,
    DxPaging,
    DxFilterPanel,
    DxFormItem,
    DxEditing,
  },
};
</script>

<style lang="scss">
.olingo-demo {
  display: flex;
  justify-content: center;
}
</style>
